<%= simple_form_for @flat do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :address, required: true %>
    <%= f.input :zip_code, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :capacity, required: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  </div>
<% end %>
