<%= simple_form_for @profil do |f| %>
  <div class="form-inputs">
    <%= f.error_notification %>
    <%= f.input :first_name, required: true, autofocus: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :pseudo, required: true %>
    <%= f.input :city, required: true %>
    <%= f.input :country, as: :string, required: true %>
    <%= f.input :description, as: :text, required: true %>
    <%= f.input :birth_date, as: :date, order: [:day, :month, :year], required: true %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
  </div>
<% end %>
