<h1>Profil#show</h1>
<p>Find me in app/views/profil/show.html.erb</p>



<%= @user.profil.user_id %>
<%= @user.profil.first_name %>
<%= @user.profil.last_name %>
<%= @user.profil.pseudo %>
<%= @user.email %>


<% @user.flats.each do |flat| %>
  <%= flat.name %>
<% end %>
